@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Licorice&family=Vujahday+Script&display=swap');

* {
    margin: auto;
    padding: auto;
}

body {
    display: block;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: rgba(244, 223, 290, 0.35);
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

section.firstMeet {
    border: rgba(80, 90, 70, 0.4) solid 0.17em;
    margin: 0.7em auto;
    background-color: rgba(94, 130, 70, 0.4);
    display: block;
    position: flex;
    box-sizing: border-box;
    width: 40%;
    height: 200px;
    border-radius: 30px;
    box-shadow: 5px 5px 1px rgb(10, 20, 10);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

section.firstMeet h1 {
    color: rgba(254, 255, 257, 0.9);
    padding-top: 0.14em;
    text-align: center;
    text-shadow: 3px 3px 2px rgb(100, 100, 100);
    font-size: 2.7em;
    font-family: 'Vujahday Script', cursive;
}

section.firstMeet div.firstDays {
    width: 40%;
    margin-top: 0.3em;
    color: rgba(9, 9, 9, 0.99);
    background-color: rgba(183, 180, 180, 0.8);
    border: rgba(180, 140, 170, 0.2) solid 0.10em;
    box-shadow: 4px 4px 1px rgba(30, 20, 20, 0.5);
    text-shadow: 3px 3px 2px rgba(190, 190, 190, 0.9);
    border-radius: 11px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    text-align: center;
    font-size: 2.3em;
    font-family: 'Assistant', sans-serif;
}
section.firstMeet section.dotBar {
    margin-top: 0.5em;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    width: 10%;
}
section.separatePartion {
    border: rgba(90, 100, 90, 0.6) solid 0.3em;
    box-shadow: 5px 5px 1px rgba(10, 10, 10, 0.7);
    border-radius: 5px;
    width: 40%;
    height: 2.6em;
    background-color: gray;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

section.separatePartion article {
    text-shadow: 3px 3px rgba(100, 100, 100, 0.7);
    font-size: 1.3em;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

section.calculator {
        width: 40%;

        padding: 1.77em 0;
        margin: 0.7em auto;

        box-sizing: border-box;
            box-shadow: 5px 5px 1px rgba(10, 20, 30, 0.7);

        background-color: rgba(94, 160, 90, 0.17);

        display: grid;
        grid-template-columns: repeat(25, 4);

        border: rgba(90, 160, 90, 0.2) solid 0.4em;
        border-radius: 20px;
}

section.calculator div {
    padding: 0.8em;
        padding-right: 2em;
        padding-left: 2em;

    background-color:rgba(125, 136, 180, 0.8);
    color: #ffffff;

    font-size: 1.4em;
        text-shadow: 0.15em 0.12em 0.12em rgba(1, 1, 1, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    box-shadow: 5px 5px 1px rgba(10, 20, 30, 0.55);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

section.firstmeet section.dotbar span{
    padding-right: 0.2em;
    color: rgb(97, 52, 52);
    font-size: 0.3em;
}

section.firstmeet section.dotbar span:nth-child(1){
    color: black;
}

section.firstmeet section.dotbar span:nth-child(2){
    color: black;
}

section.firstmeet section.dotbar span:nth-child(3){
    color: black;
}