* {
    margin: auto;
    padding: auto;
}

body {
    display: block;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: rgba(34, 50, 90, 0.3);
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

section.firstMeet {
    margin: 0.7em auto;
    background-color: rgba(94, 130, 70, 0.4);
    display: block;
    box-sizing: border-box;
    width: 40%;
    height: 200px;
}

section.firstMeet h1 {
    color:rgba(104, 70, 170, 0.9);
    padding-top: 20px;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(100, 100, 100);
}

section.firstMeet div.firstDays {
    margin-top: 1.2em;
    width: 60%;
    height: 40%;
    background-color: rgba(40, 40, 40, 0.7);
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 3em;
}

section.separatePartion {
    width: 40%;
    height: 2.6em;
    background-color: gray;
    box-sizing: border-box;
    align-items: center;
    display: flex;
}

section.separatePartion article {
    text-shadow: 3px 3px rgba(100, 100, 100, 0.7);
    font-size: 1.3em;
}

section.calculator {
    margin: 0.7em auto;
    background-color: rgba(94, 130, 70, 0.2);
    display: grid;
    box-sizing: border-box;
    width: 40%;
    height: 600px;
    grid-template-columns: repeat(25, 4);
}

section.calculator div {
    width: 80%;
    height: 80%;
    background-color:rgba(50, 50, 200, 0.1);
}