@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Licorice&family=Vujahday+Script&display=swap');

* {
    margin: auto;
    padding: auto;
}

body {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    justify-content: center;
    background-color: rgba(244, 223, 290, 0.35);
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}
