@import '../Animation/transitionX.css';

section.firstMeet {
    width: 40%;
    height: 200px;

    margin: 0.7em auto;
    
    display: block;
    box-sizing: border-box;

    background-color: rgba(94, 130, 70, 0.4);

    box-shadow: 5px 5px 1px rgb(10, 20, 10);
}

section.firstMeet header.mainHeader {
    color: rgba(254, 255, 257, 0.9);
    padding-top: 0.14em;
    text-align: center;
    text-shadow: 3px 3px 2px rgb(100, 100, 100);
    font-size: 2.7em;
    font-family: 'Vujahday Script', cursive;
}

section.firstMeet div.firstDays {
    width: 40%;
    margin-top: 0.3em;

    color: rgba(9, 9, 9, 0.99);
    background-color: rgba(223, 220, 220, 1.0);

    font-size: 2.3em;
    font-family: 'Assistant', sans-serif;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(90, 90, 90, 0.9);

    box-shadow: 4px 4px 1px rgba(30, 20, 20, 0.5);

    border: rgba(180, 140, 170, 0.2) solid 0.10em;
    border-radius: 0.5em;
}

section.firstMeet section.dotBar {
    width: 10%;

    margin-top: 1.3em;

    font-size: 0.55em;

    display: grid;
    grid-template-columns:repeat(3, 1fr);
}

section.separatePartion {
    width: 40%;
    height: 2.6em;

    margin: 1.1em auto;

    background-color: rgba(180, 150, 140, 0.70);

    box-sizing: border-box;

    display: flex;
    align-items: center;

    border: rgba(190, 130, 99, 0.3) solid 0.3em;
    border-radius: 8px;
    box-shadow: 5px 5px 1px rgba(10, 10, 10, 0.7);
}

section.separatePartion article {
    font-size: 1.3em;
    text-shadow: 3px 3px rgba(100, 100, 100, 0.7);

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

section.calculator {
        width: 40%;

        padding: 1.77em 0;
        margin: 0.7em auto;

        box-sizing: border-box;
            box-shadow: 5px 5px 1px rgba(10, 20, 30, 0.7);

        background-color: rgba(94, 160, 90, 0.17);

        display: grid;
        grid-template-columns: repeat(25, 4);

        border: rgba(90, 160, 90, 0.2) solid 0.4em;
        border-radius: 20px;
}

section.calculator div {
    padding: 0.8em;
        padding-right: 2em;
        padding-left: 2em;

    background-color:rgba(125, 136, 180, 0.8);
    color: #ffffff;

    font-size: 1.4em;
        text-shadow: 0.15em 0.12em 0.12em rgba(1, 1, 1, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    box-shadow: 5px 5px 1px rgba(10, 20, 30, 0.55);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}